.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #ffff;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #fedd3e;
}


/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 85%;
  border-radius: 5%;
  height: 40vh;
  margin-bottom: 15%;
}
.signupcentered {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.signup input {
  margin: 10%;
  width: 300px;
}
.signup button {
  background: white;
  font-weight: bolder;
}
.signup h1 {
  font-weight: bolder;
  color: white;
}
.signup p {
 margin-top: 8%;
}
.signup a {
  color: blue;
 }


.carousel-item{
  height: 60vh !important;
}

.categories{
  height: 20rem;
  margin:20px;
  left:2%;
  border-radius: 5px;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
}
.tint{
  background-color: rgba(0,0,0,.5) !important;
  background-blend-mode: multiply;
}
.category_left{
  margin-left: 8.5%;
}