@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap");

/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"); */
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .navbar
    #contact-form
    .content-homepage
    .split
    .left
    .right
    .centered
    .signup
    .categories
    .homeCarousel {
    width: 100%;
  }
}

/* // Medium devices (tablets, 768px and up) */

/* // Large devices (desktops, 992px and up) */
@media (min-width:768px) and (max-width: 992px) {
  .navigation-bar-collapse {
    z-index: 10000;
    background: #ffe900;
    position: absolute;
    right: 0rem;
    top: 5rem;
    padding: 10px 1rem;
    border-radius: 8px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.WebContainer {
  width: 100%;
  height: auto;
}

.bg-yellow {
  background: #fedd3e;
}
.navbar {
  height: 90px !important;
  max-width: 100% !important;
}

.nav-link {
  color: black !important;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  position: relative !important;
  font-weight: bolder;
}

.home-link {
  color: #000000;
}
.home-link:hover {
  color: #fff;
  text-decoration: none;
}
.content-homepage {
  color: black !important;
  padding-top: 04%;
  padding-bottom: 04%;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: bolder;
}

.navbar-brand {
  color: white !important;
  font-weight: bolder;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
.navbar a {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: bolder;
}

.card-text {
  font-family: "IBM Plex Sans Condensed", sans-serif !important;
  font-weight: bolder !important;
}

.red {
  color: red;
}
.form-area {
  background-color: #fafafa;
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  border: 1px solid GREY;
}

.form-area h3 {
  margin-bottom: 25px;
  text-align: center;
}

#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #ce1b5f;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06a1c4;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06a1c4;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}

@media (max-width: 768px) {
  .navigation-bar-collapse {
    z-index: 10000;
    background: #ffe900;
    position: absolute;
    right: 0rem;
    top: 5rem;
    padding: 10px 1rem;
    border-radius: 8px;
  }
}


#contact-form {
  width: 440px;
  margin: 30px auto 0;
  /* border: 1px solid grey; */
  box-shadow: 0px 10px 50px #555;
  padding: 15px;
  border-radius: 4px;
}

.product-form-container {
  width: 440px;
  margin: 30px auto 0;
  /* border: 1px solid grey; */
  box-shadow: 0px 10px 50px #555;
  padding: 15px;
  border-radius: 4px;
}

.avatar {
  position: fixed;
  top: 50px;
  right: 90px;
  padding-left: 900px !important;
  padding-bottom: 50px;
}

.footer {
  background-color: #fedd3e !important;
}

.contain {
  justify-content: center;
  width: 100%;
}

.calculate {
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
