@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

.bg-yellow{
    background: #fedd3e;
}

.nav-link{
    color: black !important;
    font-family: 'Corben', cursive ;
}

.content-homepage{
    color: black !important;    
    padding-top: 04%;
    padding-bottom: 04%;
    font-family: 'Corben', cursive;
    font-weight: lighter !important;
}

.navbar-brand{
    color: white !important;
    font-family: 'Corben', cursive;
}
.navbar a{
    font-family: 'Corben', cursive !important;
}

.card-text{
    font-family: 'Lobster', cursive !important;
    font-weight: bolder !important;
}